<form class="box" action="/station/{{station._id}}/addreading" method="POST">
   <button class="button is-primary">Add Reading</button>
  <br>
  <label>Enter Reading Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Temp" name="temp">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind Speed" name="windSpeed">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind Direction" name="windDirection">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Pressure" name="pressure">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="longitude">
        </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="latitude">
      </div>
      </div>
    </div>
  </div>
    
</form>