{{#each playlists}}
<div class="box box-link-active-shadow"  style="background-color: lightblue;">
  <h2 class="title">
    {{title}}
  </h2>
  <a href="/playlist/{{_id}}" class="button">
    {{>icons/open}}
  </a>
  <a href="/dashboard/deleteplaylist/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
</div>
{{/each}}