{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTopApp 2.0
  </h3>
 
  <div class="content box">
    <p class="title">
      About The App
    </p>
    <div class="columns is-desktop">
      <div class="column is-one-thirds">
        This is a Web companion application designed to work with the Weather Top 1000 meteorological device.
        <br>
        It correctly displays the instrument readings in a user-friendly and navigable application.
        The application has more features to come in future releases.
      </div>
      <div class="column is-two-third">
        <figure class="image is-600x600">
          <img src="https://www.nicepng.com/png/detail/302-3022647_weather-clip-art-by-phillip-martin-phillip-martin.png">
        </figure>
      </div>
    </div>
  </div>
</section>
