{{> welcome-menu}}

<div class="content box">
    <p class="title">
        Welcome to Weather Top
    </p>
    <div class="columns is-desktop">

        <div class="column is-two-third">

            <figure class="image is-600x600">
                <img src="https://m.media-amazon.com/images/I/51CeOka5-iL._AC_UF894,1000_QL80_.jpg">
            </figure>
        </div>
        <div class="column is-one-thirds">
            A tailored app that lets you store and display weather station data. This app will allow you to create,
            manage and share your station data. Simply enter the Station details on the dashboard.
            <br>
            It correctly displays the instrument readings in a user-friendly and navigable application.
            <br>
            Click on the navigation labels to read more about the app and to view pre-loaded and log new weather data manually, click on the Dashboard.
        </div>
    </div>

</div>
<section class="section has-text-centered">
  <div class="container">
    <h2 class="title is-2">Sign up or Log in</h2>
    <p class="subtitle">Create an account or log in to get started.</p>
    <div class="buttons is-centered">
      
      <a class="button is-link is-medium" id="login" href="/login"> Log in </a>
      <a class="button is-primary is-medium" id="signup" href="/signup"> Sign up </a>
    </div>

<footer class="footer box">
    <div class="content has-text-centered">
        <p>
            Copyright LSD Solutions 2023
        </p>
    </div>
</footer>